<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="resourceService" class="services.ResourceService"/>
    <bean id="connectionService" class="services.ConnectionService">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>
    <bean id="questionConverter" class="services.utils.QuestionConverter"/>
    <bean id="questionsService" class="services.QuestionsServiceFromFileImpl">
        <constructor-arg index="0" ref="connectionService"/>
        <constructor-arg index="1" ref="resourceService"/>
        <constructor-arg index="2" ref="questionConverter"/>
    </bean>
</beans>